[submodule "nexss-language/languages/HTML"]
	path = nexss-language/languages/HTML
	url = git@github.com:nexssp/language_html.git
[submodule "nexss-language/languages/NodeJS"]
	path = nexss-language/languages/NodeJS
	url = git@github.com:nexssp/language_nodejs.git
[submodule "nexss-project/templates/default"]
	path = nexss-project/templates/default
	url = https://github.com/nexssp/template_default.git
